body {
  background: url('../img/stars-white.jpg');
  font-family: 'Comic Sans MS', 'Comic Sans', Arial, sans-serif;
  color: yellow;
  text-align: center;
  font-size: 120%;
  margin: 50px;
}

h1 {
  color: cyan;
  font-size: 36pt;
  margin: 0;
}

h2 {
  font-size: 24pt;
}

h3 {
  color: lime;
}

h3 a {
  font-style: oblique;
}

h3 a:hover {
  background: white;
  color: black;
}

hr {
  width: 1200px;
}

.disclaimer {
  font-size: 10pt;
  color: gray;
}