
body {
    font-family: "Cabin", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.navbar .navbar-brand {
    color: #666;
    letter-spacing: 0.03em;
}

.jumbotron {
    background: url('../img/hero.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    text-shadow: 1px 1px 3px #333;
}

footer {
    padding-top: 20px;
    color: #666;
}

.other-resources a {
      text-decoration: none;
      padding-left: 8px;
      vertical-align: middle;
}

.other-resources i {
  font-size: 20px;
}
